<section class="dashboard-page">
  <h1 class="dashboard-page__title">Dashboard Page</h1>

  <div class="dashboard-page__body">

  </div>

</section>


<div class="page">
  <!-- <div class="search">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Clearable input</mat-label>
      <input matInput type="text" [(ngModel)]="value">
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary">Primary</button>
  </div> -->
  <div class="market-data">

  </div>

  <div class="charting-data">

  </div>

</div>
